/node_modules
/public/hot
/public/images
/public/img
/public/storage
/storage/*.key
/vendor
/resources/views/shablon.blade.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app.zip
